html,
body {
    height: 100%;
}

html {
    background-color: $white;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding: 0 1rem;
}

.footer {
    flex-shrink: 0;
}

section {
    max-width: 600px;
    margin: auto;
}