.header {
    background-color: darken($pink, 10%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    padding: 2rem 0;
}

.header__title {
    color: $white;
    font-family: $bangers;
    font-weight: lighter;
    margin: auto;
    text-align: center;
}