.options__panel {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 6rem auto;
}

.options-panel__title {
    flex-basis: 100%;
    text-align: center;
}

.options-panel__button {
    background-color: lighten($pink, 10%);
    border-radius: $border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: $box-shadow;
    display: flex;
    min-width: 20%;

    &:hover {
        cursor: pointer;
    }

    &.colors__skin {
        background-color: $green-wicked;
    }

    &.colors__fingernails {
        background-color: $red;
    }

    &.colors__fontColor {
        background-color: $black;
    }

    label {
        color: $white;
        padding: .5rem 2rem 1.75rem 2rem;
        text-align: center;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.options__new-word {
    display: flex;
    justify-content: center;
    margin: 10vh auto 5rem auto;

    .new-word__button {
        background-color: lighten($pink, 10%);
        border-width: 0px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        color: $black;
        font-family: $bangers;
        font-size: 2rem;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        min-width: 100%;
        padding: 1.5rem 2rem;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }
}

// Styles common to all buttons, overrides browser defaults
input[type="color"i] {
    background-color: buttonface;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    height: 44px;
    width: 44px;
    padding: 2px 3px;
}