.options__panel {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem auto 6rem auto;
}

.options-panel__title {
    flex-basis: 100%;
    text-align: center;
}

.options-panel__button {
    border-radius: $border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    min-width: 20%;
    
    &:hover {
        cursor: pointer;
    }
    
    label {
        text-align: center;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.options__new-word {
    display: flex;
    justify-content: center;
    margin: 10vh auto 5rem auto;

    .new-word__button {
        background-color: lighten($pink, 10%);
        border-width: 0px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        color: $black;
        font-family: $bangers;
        font-size: 2rem;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        min-width: 100%;
        padding: 1.5rem 2rem;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }
}

// Styles common to all buttons, overrides browser defaults
input[type="color"i] {
    cursor: default;
    height: 40px;
    width: 80px;
}