// Classes so we can easily use chosen fonts dynamically
.font--bangers {
    font-family: $bangers,
        cursive,
        sans-serif;
}

.font--sans {
    font-family: 'Oxygen',
        sans-serif;
}

h1,
h2,
h4 {
    font-weight: bold;
}

h3 {
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-family: $bangers;
    letter-spacing: 7px;
    font-size: 4rem;
}