$pink: hsla(0%, 61%, 66%, 1);
$green: hsla(180%, 54%, 35%, 1);
$green-wicked: #57a857;
$silver: hsla(283%, 4%, 65%, 1);
$white: hsla(140%, 16%, 96%, 1);
$purple: hsla(248%, 29%, 29%, 1);
$black: rgb(25, 22, 41);
$black-er: #060509;
$red: #EA052C;